.app.sidebar-popout .window-content {
  color: black;
}

.mondsturz section {
  background: none !important;
  background-color: #cecece !important;
}

.mondsturz .sheet-body,
.mondsturz .sheet-body .tab,
.mondsturz .sheet-body .tab .editor {
  height: auto;
  /*  height: 100%; */
}

.mondsturz table {
  margin: unset;
}

.ms-header {
  text-align: center;
}

.mondsturz .sheet-tabs {
  -webkit-box-flex: 0;
  -ms-flex: 0;
  flex: 0;
}

.mondsturz .sheet-tabs {
  font-size: 2em;
}


.row-3-7 {
  display: flex;
}

.row-3-7.active {
  display: flex !important;
}

.row-3-7 .col-1 {
  margin-right: 10px;
  flex: 0.3;
}

.row-3-7 .col-2 {
  flex: 0.7;
}

.row-2-8 {
  display: flex !important;
  flex: unset;
}

.row-2-8 .col-1 {
  margin-right: 10px;
  flex: 0.2;
}

.row-2-8 .col-2 {
  flex: 0.8;
}

.row-4-6 {
  display: flex !important;
  flex: unset;
}

.row-4-6 .col-1 {
  margin-right: 10px;
  flex: 0.4;
}

.row-4-6 .col-2 {
  flex: 0.6;
}

.accordion-header {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 5px;
  width: 100%;
  text-align: right;
  border-style: groove;
}

.accordion-header th:nth-child(2) {
  text-align: right;
}

.accordion-header.active,
.accordion-header:hover {
  background-color: #ccc;
}

.accordion-content {
  max-height: 0;
  overflow: hidden;
  background-color: #f1f1f1;
}

.accordion-content.active {
  max-height: 100%;
  overflow: hidden;
  background-color: #f1f1f1;
}

.accordion-content.active tr {
  height: 42px;
  font-size: 14px;
}

.accordion-content.active tr>td:nth-child(2) {
  text-align: right;
  padding-right: 10px;
}

.row-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.row-container .row-1 {
  flex: 0 0 100px;
  margin-bottom: 10px;
}

.row-container .row-2 {
  flex: 1;
}

.grid,
.grid-2col {
  display: grid;
  grid-column: span 2/span 2;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 10px;
  padding: 0;
}

.grid-3col {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 10px;
  margin: 10px 0;
  padding: 0;
}

.grid-4col {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 10px;
  margin: 10px 0;
  padding: 0;
}

.grid-4col {
  grid-column: span 4/span 4;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grey-bg {
  background-color: #f1f1f1;
}

.img-td {
  width: 30px;
}

.img-td img {
  border: 1px, full, grey;
}


.eig-container {
  min-height: 200px;
  max-height: 500px;
  overflow: scroll;
}


.header-info {
  display: flex;
  justify-content: space-between;
}

.misc-info {
  display: flex;
  justify-content: space-between;
}

.misc-info div {
  width: 70px;
  text-align: center;
}

.zauber-text {
  display: none;
}

.zauber-level {
  cursor: pointer;
  text-align: center;
  text-decoration: underline;
}

.visible {
  display: table-cell;
  column-span: all;
  cursor: pointer;
}



#leben-bar {
  background-color: rgba(0, 128, 0, 0.473);
}

#ruestwert-bar {
  background-color: rgba(75, 75, 75, 0.5);
}

#mana-bar {
  background-color: rgba(5, 2, 206, 0.5);
}

.trape-table {
  display: flex;
  flex-wrap: wrap;
}

.trapezoid {
  background-color: #e7e7e7;
  clip-path: polygon(10% 0, 100% 0, 90% 100%, 0% 100%);
  margin-bottom: 10px;
  flex-basis: 50%;
}

.trape-table:nth-child(odd) {
  order: 1;
}

.trapezoid div {
  display: inline-block;
  vertical-align: middle;
  margin-left: 15px;
}

.trapezoid .right {
  float: right;
  margin-left: 0;
}

.trapezoid :nth-child(4) {
  margin-right: 13px;
}

.trapezoid .trape-control {
  display: none;
}

.trapezoid:hover .label {
  display: none;
}

.trapezoid:hover .trape-control {
  display: unset;
  width: 20px;
  height: auto;
  align-items: end;
}

.item-content {
  display: none;
  white-space: pre-line;
}

.item-content.active {
  display: contents;
}

.editable .hobby:before {
  content: "H";
  margin-left: 6px;
  color: grey;
  vertical-align: sub;

}

.editable .beruf:before {
  content: "B";
  margin-left: 6px;
  color: grey;
  vertical-align: sub;
}


.window-app .window-content,
.chat-message {
  background: none;
  background-color: #cecece !important;
}

.sheet.journal-entry .journal-sidebar {
  color: unset;
}

.combat-sidebar li.combatant.hover,
.combat-sidebar li.combatant:hover {
  background: inherit;
}

.combat-input-form input {
  color: white;
}

.clear-input,
.clear-input[type="text"],
.clear-input[type="number"] {
  padding: unset;
  border-width: 1px;
  border-radius: 8px;
  background-color: unset;
  height: unset;
  text-align: center;
  width: unset;
}

.clear-input.clear-tiny {
  width: 20px;
}

.clear-input.clear-small {
  width: 30px;
}

.clear-input.clear-medium {
  width: 150px;
}


.roll-hover:hover{
  cursor: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 1000"><!--! Font Awesome Pro 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M274.9 34.3c-28.1-28.1-73.7-28.1-101.8 0L34.3 173.1c-28.1 28.1-28.1 73.7 0 101.8L173.1 413.7c28.1 28.1 73.7 28.1 101.8 0L413.7 274.9c28.1-28.1 28.1-73.7 0-101.8L274.9 34.3zM200 224a24 24 0 1 1 48 0 24 24 0 1 1 -48 0zM96 200a24 24 0 1 1 0 48 24 24 0 1 1 0-48zM224 376a24 24 0 1 1 0-48 24 24 0 1 1 0 48zM352 200a24 24 0 1 1 0 48 24 24 0 1 1 0-48zM224 120a24 24 0 1 1 0-48 24 24 0 1 1 0 48zm96 328c0 35.3 28.7 64 64 64H576c35.3 0 64-28.7 64-64V256c0-35.3-28.7-64-64-64H461.7c11.6 36 3.1 77-25.4 105.5L320 413.8V448zM480 328a24 24 0 1 1 0 48 24 24 0 1 1 0-48z"/></svg>') 16 16, auto;
  text-shadow: 0 0 8px var(--color-shadow-primary);
}

.edit-hover:hover {
  cursor: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 1000"><!--! Font Awesome Pro 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M471.6 21.7c-21.9-21.9-57.3-21.9-79.2 0L362.3 51.7l97.9 97.9 30.1-30.1c21.9-21.9 21.9-57.3 0-79.2L471.6 21.7zm-299.2 220c-6.1 6.1-10.8 13.6-13.5 21.9l-29.6 88.8c-2.9 8.6-.6 18.1 5.8 24.6s15.9 8.7 24.6 5.8l88.8-29.6c8.2-2.7 15.7-7.4 21.9-13.5L437.7 172.3 339.7 74.3 172.4 241.7zM96 64C43 64 0 107 0 160V416c0 53 43 96 96 96H352c53 0 96-43 96-96V320c0-17.7-14.3-32-32-32s-32 14.3-32 32v96c0 17.7-14.3 32-32 32H96c-17.7 0-32-14.3-32-32V160c0-17.7 14.3-32 32-32h96c17.7 0 32-14.3 32-32s-14.3-32-32-32H96z"/></svg>')0 0, pointer;
  width: 3px;
  height: 3px;
}

.clear-input[type="text"]:focus,
.clear-input[type="number"]:focus {
  box-shadow: unset;
}

.sheet-bar {
  position: relative;
  height: 20px;
  margin: 5px 0;
  background-color: #bfbfbf;
  border-radius: 15px;
  overflow: hidden;
}

.bar {
  height: 100%;
}

#mana-bar {
  background-color: #494aa1;
}

#health-bar {
  background-color: #54ad60;
}

#armor-bar {
  background-color: #9b9b9b;
}

.bar-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 14px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.adjust {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
}

.adjust span {
  display: block;
  width: 20px;
  height: 20px;
  background-color: #ffffffa8;
  border-radius: 50%;
  text-align: center;
  line-height: 20px;
  font-size: 16px;
  font-weight: bold;
  color: #4caf50;
  cursor: pointer;
}

.adjust span i {
  margin-top: 2px;
}

.bar-text .clear-input {
  width: 10px;
  text-align: right;
  color: #fff;
  font-size: 14px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.health-bar:hover .adjust {
  opacity: 1 !important;
}

.message-button {
  width: auto;
}

.ruestwerte-td {
  text-align: right;
  padding-right: 10px;
}

.ruestwerte-td div {
  float: right;
}

.details-table {
  display: flex;
  flex-wrap: wrap;
}

.details-table:nth-child(odd) {
  order: 1;
}

.info-table td:nth-child(3) {
  border-left: groove;
  padding-left: 5px;
}

.info-table td:nth-child(2) {
  padding-right: 5px;
}

.adrenalin-sheet .table {
  display: table;
  border-collapse: collapse;
  width: 100%;
}
.adrenalin-sheet .row {
  display: table-row;
}
.adrenalin-sheet .cell {
  display: table-cell;
  padding: 4px;
}

.adrenalin-sheet table {
  flex: unset!important;
}

.adrenalin-sheet .row .cell:nth-child(1) {
  width: 5%;
}

.adrenalin-sheet .row .cell:nth-child(2) {
  width: 20%;
  border-right: groove;
}

.adrenalin-sheet .row .cell:nth-child(4) {
  width: 10%;
  border-left: groove;
}


.ms-hidden {
  display: none;
}

.ist-hobby {
  color: #3ca561;
  text-decoration: underline;
}

.item-weapon-tags >div{
 display: inline-block;
}

.item-weapon-tags .tag-box {
  position: relative;
  display: inline-block;
  background: #c4c4c4;
  padding: 5px;
  margin: 1px;
  border: 1px solid #7a7971;
  border-radius: 10px;
}

.weapon-tag-delete {
  display: none;
}

.adjust span.tag-delete {
  color: red;
}

.tag-box:hover .adjust {
  opacity: 1 !important;
}